@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('./fonts/ostrichsans-medium-webfont.woff2') format('woff2'),
         url('./fonts/ostrichsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --system-font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --green: rgb(94 128 38);
}

body {
    font-family: var(--system-font-stack);
    font-size: 1rem;
    height: 100vh;
    display: flex;
  }

.bckgnd-img-container {
    position: relative;
    height: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 0.75rem;
    top: 35%;
    height: 12%;
    width: 100%;
    background-color: rgba(0, 0, 0, .50);
}

img.logo {
    height: 90%;
    width: auto;
}

div.logo {
    font-family: "ostrich_sansmedium", var(--system-font-stack);
    color: white;
    font-size: 5rem;
}

.img-credit {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: .75rem;
    font-weight: 200;
}

.bckgnd-img {
    height: 100%;
    width: auto;
}

.main-content,
.btn-container {
    background-color: rgb(229, 229, 229);
}

.bold {
    font-weight: 600;
}

form {
    background-color: white;
}

.header > *,
.footer,
form > * {
    padding: 1rem 1rem 0 1rem;
}

.header > p + p,
.user-inputs {
    padding-bottom: 1rem;
}

.user-inputs {
    display: flex;
    gap: 3rem;
}

.user-inputs > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

label,
input {
    display: block;
}

label {
    font-size: 0.75rem;
}

p {
    margin: 0;
}

button {
    background-color: var(--green);
    color: white;
    font-weight: 700;
    border: none;
    padding: .75rem 1.75rem;
    border-radius: 5px;
}

.green {
    color: var(--green);
    font-weight: 700;
}